[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Buddi
Exec=/usr/bin/buddi
Icon=buddi
Comment=Personal Budget Software
Terminal=false
Categories=Application;Office;
Type=Application

