/* General style */
body {
	background-color: #e3e2a9;
	border-top: 0.5em solid black;
	color: #222;
	min-width: 600px;
}

/* Header Style */
#header {
	background: url('../img/buddi.png');
	background-repeat: no-repeat;
	background-position: 50px center;
	background-color: #236bc3;
	height: 150px;
	
/*	border-bottom: 3px solid #8e92ac; 
	border-right: 3px solid #8e92ac; 
	border-top: 3px solid #c1c6ea; */
	border-left: 8em solid #dfc700;
}

.headerText {
	font-family: Arial, Helvetica, Sans-Serif;
	color: #111;
	background-color: transparent;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.headerText h1 {
	font-size: 2.5em;
	border-bottom: 0.1em solid black;
}
.headerText h2 {
	font-size: 1em;
}

/* Content Style */
.content {
	background-color: white;
	margin-bottom: 15px;
	float: left;
	
	border-top: 0.5em solid black;
	
/*	border-bottom: 3px solid #8e92ac;
	border-right: 3px solid #8e92ac;
	border-top: 3px solid #c1c6ea;
	border-left: 3px solid #c1c6ea;*/
}

.contentText {
	margin: 1em;
	padding-top: 0.5em;
	min-height: 30em;
}

.contentText h2 {
	margin-top: 1em;
}

.language_bar {
	margin: 0.4em;
	float: right;
	display: inline;
}

/* Footer Style */
.footer {
	color: black;
	background-color: blue;
	background: url('/img/bg_footer.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	height: 5em;
	width: 100%;
	border-bottom: 0.3em solid black;
}

.footerText {
	position: relative;
	text-align: right;
	padding: 1em;
	padding-right: 8em;
	font-size: x-small;
	color: #333;
	background-color: transparent;
}

/* Sidebar Style */
.sidebar {
	float: left;
	display: inline;
	width: 15em;
	
	background-color: #80b4ea;
/*	margin-right: -40px;
	border-left: 5px solid black;
	padding-left: 5px;
	margin-left: 20px;
*/
	margin-right: 2em;
	margin-bottom: 1em;

/*	border-bottom: 0.15em solid black; */
	border-right: 0.3em solid black;
/*	
	border-top: 3px solid #8e92ac;
	border-left: 3px solid #8e92ac;
	border-bottom: 3px solid #c1c6ea;
	border-right: 3px solid #c1c6ea;
*/	
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: small;
}	

/* Sidebar lists */
.sidebar ul {
	position: relative;
/*	width: 105%;*/
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: medium;
}

.sidebar li {
	list-style: none;
	margin-top: 0px;
}

/* Text Styles */
h1, h2, h3 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	padding: 0.5em;
	margin: 0px;
}
.contentText h1 {
	font-size: x-large;
}
.contentText h2 {
	font-size: large;
}
.contentText h3 {
	font-size: medium;
}

p, ul {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: medium;
	text-align: justify;
	margin: 0px;
	padding-top: 0.3cm;
}

/* Color links nicely */
.sidebar a:link, .sidebar a:visited, .sidebar a:active {
	color: #022346;
	background-color: transparent;
	text-decoration: none;
}
.sidebar a:hover {
	color: #022346;
	background-color: transparent;
	text-decoration: underline;
}

a:link, a:visited, a:active {
	color: #236ab3;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: #084788;
	background-color: transparent;
	text-decoration: underline;
}


